.Design{
    background-color: aqua;
    padding: 10px;
    text-align: right;
    
}
#head{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 800;
    height: 100px;
    background-image: url('../images/digital_camera.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: 2px 3px 20px 5px;
    border: 2px solid black;
    box-shadow: 5px 10px 10px;
   background-size: 400px 150px;
   background-position: right;
   background-color: aquamarine;

}
.it{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
}

.body{
    background-color: rgb(159, 196, 192);
}
.li{
    background-color: coral;
}